.button--green{
    @include styleButton($color-white,$color-green-0,transparent,$font-size-0 + 1,$font-weight-1,$padding-1 + 2, $padding-3 + 4, $border-radius);
    line-height: normal;
    font-family: sans-serif;
    &:hover{
        @include hoverButton($color-white,$color-green-1,transparent);
    }
    &:focus{
        box-shadow: none;
        outline: 0;
    }
}
.button--outline{
    margin-top: 7px;
    line-height: 12px;
    @include styleButton($color-white,transparent,$color-white,$font-size-0 - 1,$font-weight-2,$padding-0 + 3, $padding-3 + 2, $border-radius - 1);
    &:hover{
        @include hoverButton($color-white,$color-green-0,$color-green-0);
    }
    &:focus{
        box-shadow: none;
        outline: 0;
    }
}

.button--scroll{
    margin-top: 7px;
    line-height: 12px;
    @include styleButton($color-green-0,transparent,$color-green-0,$font-size-0 - 1,$font-weight-2,$padding-0 + 3, $padding-3 + 2, $border-radius - 1);
    &:hover{
        @include hoverButton($color-white,$color-green-0,$color-green-0);
    }
    &:focus{
        box-shadow: none;
        outline: 0;
    }
}